* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    background:rgb(216,234,243);
}

h2{
    font-size: 36px;
    text-align: center;
    color: rgb(25,90,205);
    text-transform: uppercase;
}

header{
    height: 70px;
    background: rgba(255,255,255,0);
    position: absolute;
    width: 100%;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 70px;
    color: white;
}

.logo{
    font-size: 25px;
    display: inline-block;
    margin: 0 10px;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
}

.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    margin: 0 10px;
    font-family: 'Roboto Mono', sans-serif
}

.navlinks li a{
    text-decoration: none;
}

.introdução{
    background: url("../assets/team.jpg") no-repeat center;
    background-size: cover;
    width: 100%;  
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(25, 91, 205, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    color: white;
}

blockquote{
    color:white;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
}

.sobre{
    background: rgb(216,234,243);
}

.container{
    display: flex;
    height: 300px;
    flex-wrap: wrap;
}

.card{
    flex: 1;
    height: 300px;
    background: #195acd;
    margin: 50px;
    border-radius: 40px;
    box-shadow: 7px 7px 4px rgba(0,0,0,0,16);
}

.card h3{
    height:300px;
    line-height: 300px;
    text-align: center;
    color: white;
    font-size: 36px;
}

.cronograma {
    padding: 50px 0;
    background: rgb(216, 234, 243);
  }
  
  .cronograma h2 {
    margin-top: 50px;
    font-size: 36px;
    text-align: center;
    color: rgb(25, 90, 205);
    text-transform: uppercase;
  }
  
  .cronograma ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 5px;
    height: 100%;
  }
  
  .cronograma ul li, .semana {
    display: flex;
    flex-direction: column;
  }

 .cronograma h3 {
    font-size: 32px;
    text-align: center;
    color: rgb(25, 90, 205);
  }

  .item{
      background: white;
      margin-top: 10px;
      padding: 5px;
      font-size: 20px;
      text-transform: uppercase;
  }

  .item img{
      max-width: 300px;
  }

  .contact{
      height: 400px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .contact p{
      font-size: 20px;
      margin: 20px 0;
  }

  .input{
      background: white;
      margin-bottom: 20px;
      border:none;
      border-bottom: 2px solid rgb(25,90,205);
      width: 100%;
      font-size: 20px;
  }

  textarea{
      border: 2px solid rgb(25,90,205);
      border-radius: 3px;
      width: 100%;
      font-size: 20px;
      resize: none;
  }

  #submit {
    padding: 10px 40px;
    border: 3px solid rgb(25,90,205);
    font-size: 20px;
    text-transform: uppercase;
    background-color: #0061d5;
    color: white;
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
  }

  #submit:hover{
      background: white;
      color: rgb(25, 90, 205);
      cursor: pointer;
  }