* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 70px;
    background: rgba(255,255,255,0);
    position: absolute;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 70px;
    color: white;
}

.logo{
    font-size: 25px;
    display: inline-block;
    margin: 0 10px;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
}

.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    font-family: 'Roboto Mono', sans-serif
}

.navlinks li a{
    text-decoration: none;
}

.introdução{
    background: url("../assets/team.jpg") no-repeat center;
    background-size: cover;
    width: 100%;  
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(25, 91, 205, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    color: white;
}

blockquote{
    color:white;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
}