* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 70px;
    background: #195acd;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 70px;
    color: white;
}

.logo{
    font-size: 25px;
    display: inline-block;
    margin: 0 10px;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
}

.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    font-family: 'Roboto Mono', sans-serif
}

.navlinks li a{
    text-decoration: none;
}